@import url("https://fonts.googleapis.com/css?family=Limelight|Old+Standard+TT|Over+the+Rainbow");
/* -------------------------------- 

xBackground 

-------------------------------- */
/* line 7, /Users/jalynzamora/Documents/WWD331/style-guide-template/scss/partials/_background.scss */
body {
  /* this is the page background */
  background-color: #f3e8d7; }

<<<<<<< HEAD
/* line 12, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* -------------------------------- 

xTypography 

-------------------------------- */
/* line 7, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_typography.scss */
h1, h2, h3, h4, h5 {
  font-family: "Limelight", cursive;
  color: black;
  text-align: center;
  text-transform: uppercase; }

/* line 14, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_typography.scss */
h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em; }

/* line 21, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_typography.scss */
h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0; }

/* line 28, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_typography.scss */
section > h2::before {
  /* number before each section title */
  color: silver; }

/* line 33, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_typography.scss */
p {
  font-size: 1.7rem;
  line-height: 1.4;
  color: #404040; }
  /* line 38, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_typography.scss */
  p a {
    color: #4d767e;
    text-decoration: underline; }

/* line 12, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
html {
  overflow-y: auto;
  background-image: url(map.jpg);
  background-size: 32em; }

/* line 18, /Users/jalynzamora/Documents/WWD331/style.scss */
body {
  font-family: "Old Standard TT", serif;
  color: #3f3d3a;
  overflow: auto; }

<<<<<<< HEAD
/* line 28, /Users/jalynzamora/Documents/WWD331/style.scss */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Limelight", cursive;
  text-align: center;
  color: #272625;
  text-transform: uppercase; }

/* line 39, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* line 30, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
a:link {
  text-decoration: none;
  color: #4d767e; }

<<<<<<< HEAD
/* line 53, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* line 44, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
.page-wrapper {
  width: 100%;
  margin: 0.25em auto;
  max-width: 1800px;
  position: relative;
  padding: 0 4%; }

<<<<<<< HEAD
/* line 93, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* line 84, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
.design-selection h3 {
  font-family: "refrigerator-deluxe", sans-serif;
  font-size: 2em;
  letter-spacing: 0.05em;
  padding: 0.5em 0;
  margin: 0.35em auto 0.75em;
  background: url("img-lg-horiz-border.png") repeat-x top right, url("img-lg-horiz-border.png") repeat-x bottom left;
  background-size: 15em;
  line-height: 1; }

<<<<<<< HEAD
/* line 105, /Users/jalynzamora/Documents/WWD331/style.scss */
.design-selection {
  margin: 0 auto; }

/* line 109, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* line 96, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
.design-selection {
  margin: 0 auto; }

/* line 100, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
.design-selection ul {
  list-style-type: none;
  padding: 0;
  overflow-x: hidden; }

<<<<<<< HEAD
/* line 115, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* line 106, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
.design-selection li {
  color: transparent;
  margin-bottom: 0.28em;
  clear: both; }

<<<<<<< HEAD
/* line 121, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* line 112, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
.design-selection li a {
  text-decoration: none;
  color: #3f3d3a; }

<<<<<<< HEAD
/* line 126, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* line 117, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
.sidebar a:hover,
sidebar a:focus {
  color: #e5452c; }

<<<<<<< HEAD
/* line 131, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* line 122, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
.design-name {
  font-style: italic;
  background: #faf3e6;
  padding-right: 0.25em; }

<<<<<<< HEAD
/* line 137, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* line 128, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
.design-name:after {
  float: left;
  width: 0;
  white-space: nowrap;
  color: #3f3d3a;
  content: "....................................................................................................................."; }

<<<<<<< HEAD
/* line 145, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* line 136, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
.designer-name {
  float: right;
  font-family: "refrigerator-deluxe", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  background: #faf3e6;
  padding-left: 0.25em; }

<<<<<<< HEAD
/* line 154, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* line 145, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
h3.archives,
h3.resources {
  display: none; }

<<<<<<< HEAD
/* line 159, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* line 150, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
.design-archives {
  margin: 0.8em auto;
  position: relative; }

<<<<<<< HEAD
/* line 164, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* line 155, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
.design-archives ul {
  list-style-type: none;
  padding: 1.25em 0; }

<<<<<<< HEAD
/* line 172, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* line 163, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
.design-archives .viewall {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.02em;
  font-size: 1.125em; }

<<<<<<< HEAD
/* line 183, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* line 174, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
.viewall a,
.zen-resources a {
  color: #3f3d3a;
  text-decoration: none; }

<<<<<<< HEAD
/* line 190, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* line 181, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
.sidebar .wrapper {
  background: url("img-lg-horiz-border.png") repeat-x bottom left;
  background-size: 40em;
  margin: 0 2px -1px; }

<<<<<<< HEAD
/* line 197, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* line 188, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
.zen-resources ul {
  list-style-type: none;
  margin: 0 auto;
  font-family: "refrigerator-deluxe", sans-serif;
  text-transform: uppercase;
  text-align: center; }

<<<<<<< HEAD
/* line 205, /Users/jalynzamora/Documents/WWD331/style.scss */
=======
/* line 196, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
>>>>>>> e207a61712b307361a2121b98a11faa4b1cc93f4
.zen-resources li {
  display: block;
  text-align: center;
  line-height: 1.6; }

/*# sourceMappingURL=style.css.map */