@import url("https://fonts.googleapis.com/css?family=Limelight|Old+Standard+TT|Over+the+Rainbow");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Anton");
/* -------------------------------- 

xBackground 

-------------------------------- */
/* line 7, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_background.scss */
body {
  /* this is the page background */
  opacity: 0.8;
  background-color: #f3e8d7; }

/* -------------------------------- 

xTypography 

-------------------------------- */
/* line 7, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_typography.scss */
h1, h2, h3, h4, h5 {
  font-family: "Limelight", cursive;
  color: black;
  text-align: center;
  text-transform: uppercase; }

/* line 15, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_typography.scss */
h1 {
  text-align: right;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em; }

/* line 23, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_typography.scss */
h2 {
  font-weight: bold;
  text-align: right;
  margin: 1em 0;
  font-size: 2rem; }

/* line 31, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_typography.scss */
section > h2::before {
  /* number before each section title */
  color: silver; }

/* line 36, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_typography.scss */
p {
  font-size: 1.7rem;
  line-height: 1.4;
  color: #404040; }
  /* line 41, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_typography.scss */
  p a {
    color: #4d767e;
    text-decoration: underline; }

@media only screen and (max-width: 768px) {
  /* line 3, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .design-selection h3 {
    font-family: "Limelight", cursive, sans-serif;
    font-size: 2em;
    letter-spacing: 0.05em;
    padding: 0.5em 0;
    margin: 0.35em auto 0.75em;
    background: url("img-lg-horiz-border.png") repeat-x top right, url("img-lg-horiz-border.png") repeat-x bottom left;
    background-size: 15em;
    line-height: 1; }
  /* line 15, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .design-selection {
    margin: 0 auto; }
  /* line 19, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .design-selection ul {
    list-style-type: none;
    padding: 0;
    overflow-x: hidden; }
  /* line 25, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .design-selection li {
    color: transparent;
    margin-bottom: 0.28em;
    clear: both; }
  /* line 31, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .design-selection li a {
    text-decoration: none;
    color: #3f3d3a; }
  /* line 36, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .design-name {
    font-family: "Old Standard TT", serif;
    background: #f3e8d7;
    text-transform: uppercase;
    padding-right: 0.25em; }
  /* line 43, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .design-name:after {
    float: left;
    width: 0;
    white-space: nowrap;
    color: #3f3d3a;
    content: ".........................................................................................................................................................."; }
  /* line 51, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .designer-name {
    float: right;
    font-family: "Old Standard TT", serif, sans-serif;
    font-size: 1em;
    background: #f3e8d7;
    padding-left: 0.25em; }
  /* line 59, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  h3.archives,
  h3.resources {
    display: none; }
  /* line 64, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .design-archives {
    margin: 0.8em auto;
    position: relative; }
  /* line 69, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .design-archives ul {
    list-style-type: none;
    padding: 1.25em 0; }
  /* line 74, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .design-archives .viewall {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.02em;
    font-size: 1.125em;
    z-index: 2;
    width: 100%;
    min-height: 70px;
    padding: 12px 0 0 0;
    text-align: center; }
  /* line 90, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .viewall a,
  .zen-resources a {
    color: #3f3d3a;
    text-decoration: none; }
  /* line 97, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .sidebar .wrapper {
    margin: 0 2px -1px; }
  /* line 101, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .design-selection ul,
  .zen-resources ul {
    margin: 0; }
  /* line 107, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .zen-resources ul {
    list-style-type: none;
    margin: 0 auto;
    font-family: "refrigerator-deluxe", sans-serif;
    text-transform: uppercase;
    text-align: center; }
  /* line 115, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .zen-resources li {
    display: block;
    text-align: center;
    line-height: 1.6; } }

@media only screen and (min-width: 1132px) {
  /* line 127, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  article,
  aside,
  footer,
  header,
  hgroup,
  main,
  nav,
  section {
    display: block; }
  /* line 137, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  nav,
  .supporting {
    display: inline; }
  /* line 142, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .design-archives,
  .design-selection,
  .zen-resources,
  footer {
    font-family: 'Raleway', sans-serif; }
  /* line 149, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .design-archives,
  .design-selection,
  .zen-resources {
    position: absolute;
    top: 720px;
    right: 0;
    width: 33.3%;
    padding: 0 0 20px 0;
    margin: 0;
    overflow: visible;
    background: transparent; }
  /* line 161, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .design-archives {
    position: absolute;
    top: 520px;
    right: 0;
    width: 33.3%;
    padding: 0 0 20px 0;
    margin: 0;
    overflow: visible;
    background: transparent; }
  /* line 171, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .design-selection {
    margin: 3em 0 0; }
  /* line 174, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  design-selection ul,
  .zen-resources ul {
    margin: 0; }
  /* line 178, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .design-selection li {
    text-align: center;
    float: none;
    width: 100% !important;
    padding: 1em !important;
    margin-bottom: 2em; }
  /* line 185, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .zen-resources li {
    text-align: center;
    float: none;
    width: 100% !important;
    padding: 1em !important;
    margin-bottom: .5em; }
  /* line 193, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .design-archives li {
    text-align: center;
    float: none;
    width: 100% !important;
    padding: 1em !important;
    margin-bottom: .5em; }
  /* line 203, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .sidebar ul {
    padding: 0;
    list-style: none;
    overflow: hidden; }
  /* line 209, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  ul,
  menu,
  dir {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px; }
  /* line 220, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  body {
    font-size: 100%;
    color: #325050; }
  /* line 225, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  .zen-resources {
    top: 1490px;
    position: absolute;
    right: 0;
    width: 34%;
    background: transparent; }
  /* line 233, /Users/andreawagner/Documents/WDD 331/zen_garden/style-guide-template/scss/partials/_sidebar.scss */
  footer {
    position: absolute;
    top: 420px;
    right: 0;
    width: 22.3%;
    padding: 0 0 20px 0;
    margin: 0;
    overflow: visible;
    background: transparent; } }

/* line 13, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 19, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
html {
  overflow-y: auto;
  background-image: url(map.jpg);
  background-size: 42em; }

/* line 25, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
body {
  font-family: "Old Standard TT", serif;
  color: #3f3d3a;
  overflow: auto; }

/* line 31, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
div {
  display: block; }

/* line 35, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
a {
  color: #e5452c; }

/* line 39, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
a:hover,
a:focus {
  color: #3f3d3a; }

/* line 44, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
p {
  margin-bottom: 0.15em; }

/* line 50, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
a:link {
  text-decoration: none;
  color: black; }

/* line 74, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
h1::before {
  display: inline-block;
  position: relative;
  top: 70px;
  content: "";
  width: 300px;
  height: 100px;
  margin: -90px 100px 0 0;
  background: url(stamp.png);
  background-size: 100%;
  background-repeat: no-repeat; }

/* line 88, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
header h2::before {
  content: " ";
  padding: 50px; }

/* line 96, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
.summary {
  padding-top: 2em;
  text-align: center;
  font-family: 'Raleway', sans-serif; }

/* line 102, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
.summary .preamble {
  width: 80%;
  margin: 0 auto; }

/* line 120, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
.summary {
  background-attachment: scroll, scroll, fixed;
  background-color: #8da19c;
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover; }

/* line 127, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
.design-selection {
  background-attachment: scroll, scroll, fixed;
  background-color: #e4bb90;
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover; }

/* line 136, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
.preamble {
  background-attachment: scroll, scroll, fixed;
  background-color: #e6e6e6;
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover; }

/* line 143, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
.participation {
  background-attachment: scroll, scroll, fixed;
  background-color: #8da19c;
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover; }

/* line 150, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
.requirements {
  background-attachment: scroll, scroll, fixed;
  background-color: #e6e6e6;
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover; }

/* line 160, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
div.explanation,
div.benefits {
  background-attachment: scroll, scroll, fixed;
  background-color: #e4bb90;
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover; }

@media only screen and (min-width: 768px) {
  /* line 171, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
  html {
    background-image: url(); }
  /* line 176, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
  header h1,
  h2 {
    position: relative;
    top: 30px;
    padding: 30px; }
  /* line 182, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
  .summary,
  .preamble,
  .supporting div,
  .requirements h3,
  .requirements p {
    float: left;
    width: 75%;
    clear: left;
    padding: 1em 5% 1em 10%; } }

@media only screen and (min-width: 1132px) {
  /* line 198, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
  .summary,
  .participation p,
  .preamble p,
  .supporting div,
  .explanation p,
  .benefits p,
  .requirements h3,
  .requirements p {
    float: left;
    width: 75%;
    clear: left;
    padding: 1em 5% 1em 10%; }
  /* line 213, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
  .summary, .preamble {
    margin: 0 auto; }
  /* line 217, /Users/andreawagner/Documents/WDD 331/zen_garden/style.scss */
  h1::before {
    display: inline-block;
    position: relative;
    top: 70px;
    content: "";
    width: 300px;
    height: 100px;
    margin: -90px 1200px 0 0;
    background: url(stamp.png);
    background-size: 100%;
    background-repeat: no-repeat; } }

/*# sourceMappingURL=style.css.map */