//google fonts
@import url('https://fonts.googleapis.com/css?family=Limelight|Old+Standard+TT|Over+the+Rainbow');

//partials

@import 'style-guide-template/scss/partials/color-palette'; // color palette
@import 'style-guide-template/scss/partials/background'; //site background color
@import 'style-guide-template/scss/partials/fonts'; //fonts
@import 'style-guide-template/scss/partials/typography'; //typography
@import 'style-guide-template/scss/partials/sidebar'; //sidebar

html {
	overflow-y: auto;
    background-image: url(map.jpg) ;
	background-size: 32em;
}

body {
	font-family: $primary-font;
	color: #3f3d3a;
	overflow: auto; 
}

p {

}

a:link {
    text-decoration: none;
    color: $color-1;
}

a:visited {}

a:hover,
a:focus,
a:active {}

abbr {}


.page-wrapper {
	
    }



	.intro {}

header h1::before {
	display: inline-block;
	position: relative;
	top: 20px;
	content: "";
	width: 300px;
	height: 300px;
	margin: -20px 20px 0 0;
	background: url(stamp.png);
	background-size: 100%;
	background-repeat: no-repeat;
}



header h2::before {
		content: " ";
		padding: 50px;
		
}
	header {}

	.summary {
		padding-top: 2em;
		text-align: center;
}
	.summary .preamble {
		width: 80%;
		margin: 0 auto;
}
	.preamble h3 {}

	.intro {}

	header h1 {}

	header h2 {}

	header {}

	.summary {}

	.summary p {}

	.preamble {}

	.preamble h3 {}


@media only screen and (min-width:768px) {
	html{
		 background-image: url(second_letter.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
	}
	
    header h1, h2 {
       position: relative;
        top: 30px;
        padding: 30px;
        
        
        
        
    }
}