// color palette - these colors will be the color swatches of the Colors section

$color-1: #4d767e; // Grand Canal Blue
$color-2: #f3e8d7; // Summer White
$color-3: #8da19c; // Calico Teal
$color-4: #e6e6e6; // Emotional Orange
$color-5: #e4bb90; // white

// additional colors

$success: #794940; // Red Barn
$alert: $color-3;  // red