
	//sidebar
	.design-selection h3 {
		font-family: $secondary-font, sans-serif;
		font-size: 2em;
		letter-spacing: 0.05em;
		padding: 0.5em 0;
		margin: 0.35em auto 0.75em;
		background: url('img-lg-horiz-border.png') repeat-x top right,
		url('img-lg-horiz-border.png') repeat-x bottom left;
		background-size: 15em;
		line-height: 1;
	}

	.design-selection {
		margin: 0 auto;
	}

	.design-selection ul {
		list-style-type: none;
		padding: 0;
		overflow-x: hidden;
	}

	.design-selection li {
		color: transparent;
		margin-bottom: 0.28em;
		clear: both;
	}

	.design-selection li a {
		text-decoration: none;
		color: #3f3d3a;
	}

	.design-name {
		font-family: $primary-font;
		background: $color-2;
		text-transform: uppercase;
		padding-right: 0.25em;
	}

	.design-name:after {
		float: left;
		width: 0;
		white-space: nowrap;
		color: #3f3d3a;
		content: "....................................................................................................................."
	}

	.designer-name {
		float: right;
		font-family: $primary-font, sans-serif;
		font-size: 1em;
		background: $color-2;
		padding-left: 0.25em;
	}

	h3.archives,
	h3.resources {
		display: none;
	}

	.design-archives {
		margin: 0.8em auto;
		position: relative;
	}

	.design-archives ul {
		list-style-type: none;
		padding: 1.25em 0;
	}

	.design-archives .viewall {
		text-align: center;
		text-transform: uppercase;
		font-style: italic;
		letter-spacing: 0.02em;
		font-size: 1.125em;
		z-index: 2;
    width: 100%;
    min-height: 70px;
    padding: 12px 0 0 0;
    text-align: center;
	}

	.design-archives .previous a,
	.design-archives .next a {}

	.viewall a,
	.zen-resources a {
		color: #3f3d3a;
		text-decoration: none;
	}


	.sidebar .wrapper {
		margin: 0 2px -1px;
	}

.design-selection ul, .zen-resources ul {
    margin: 0;
}


	.zen-resources ul {
		list-style-type: none;
		margin: 0 auto;
		font-family: "refrigerator-deluxe", sans-serif;
		text-transform: uppercase;
		text-align: center;
	}

	.zen-resources li {
		display: block;
		text-align: center;
		line-height: 1.6;
	}


	.supporting {
		
}

	footer {
    
    }

@media only screen and (min-width: 1132px){

}